<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedIn Mimic - <%= pageTitle %></title> {# EJS tag for the title #}
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a> {# Link to the homepage #}
        {# We'll add more navigation links later #}
    </nav>
    <hr> {# A horizontal line below the nav #}
    <main class="content"> {# A div or main tag to wrap the main content of the page #}