<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedIn Mimic - <%= pageTitle %></title> {# EJS tag for the title #}
    <link rel="stylesheet" href="/css/style.css">
</head>
{# views/partials/header.ejs #}
<body>
    <nav>
        <a href="/">Home</a> {# Keep this link #}
        <a href="/register">Register</a> {# --- Add This New Link --- #}
        {# We will add other links here later, like Login/Logout #}
    </nav>
    <hr>
    <main class="content">